.Table{
    color: white !important;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    background-color: rgb(32,32,32);
    height: fit-content;
    border: white 5px solid;
    padding: 5px;
    min-height: 500px;
    display: block;
}
.Table table
{
    width: 100%;
}
.gameimage{
    max-height: 100px;
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    object-fit: fill;
}
.Table tr div{
    border-top: white 2px solid;
}
.Table td{
    text-align: center;   
    padding-top: 5px;
    width: 1%;
    height: fit-content;
}
.Table a{
    transition: 0.5s;
    padding: 10px;
}
.Table a:hover{
    color: rgba(229, 25, 28, 1);
}
.gameimagetd{
    
    width: 105px;
}
.TableHeader{
    border: unset;
    background-color: rgba(229, 25, 28, 1);
    padding-bottom: 0px;
}
.OrderSelector{
height: 50px;
}
.OrderSelector td{
    border: unset;
    border-bottom: white solid 5px;
    text-align:center;
    width: fit-content;
}
.OrderSelector td:hover{
    border-bottom: rgba(229, 25, 28, 1) solid 5px;
}
.selected
{
    transition: 0.5s;
    color: white;
}
.OrderSelector .selectedtd {
    transition: 0.3s;
    background-color: rgba(229, 25, 28, 1);
    border: unset;

}
.selectedtd:hover{
    background-color: transparent;
}

big{
    font-size: 30px;
}